@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html {
  transition: all 0.15s ease-in-out;
}

:root,
html.light {
  background: #fff;
}

:root,
html.dark {
  background: #000;
}

::selection {
  background: #2dd4bf;
}

html,
body {
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
